<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" href="/public/img/favicon.ico" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
        <title>Products</title>
    </head>
    <body>
        <header>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/chat">Chat</a></li>
                <li><a href="login">Signup</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
        </header>
        <div>
            <h2>Create product</h2>
            <button data-open-modal class="button" id="updateDetails">Create product</button>
        </div>
        <div>
            <h2>Filter by category</h2>
            <!-- filter by category -->
            <form class="form-filter">
                <select name="category" id="category">
                <option value="all">All</option>
                <% categories.forEach(category => { %>
                <option value="<%= category %>"><%= category %></option>
                <% }); %>
                </select>
                <button class="button" type="submit" id="filter-button">Filter</button>
            </form>
        </div>
        
        <div>
        

        <h1>Products</h1>
        <% products.forEach(product => { %>
        <div class="product" data-id="<%= product._id %>">
            <h2><%= product.title %></h2>
            <img
                src="<%= product.thumbnails %>"
                alt="<%= product.thumbnails %>"
                class="product-image"
                style="max-width: 10%"
            />
            <p><%= product.description %></p>
            <p>category: <%= product.category %></p>
            <p>Price: $<%= product.price %></p>
            <p>Qty: <%= product.stock %></p>
            <a href="/api/products/<%= product._id %>" class="view-product"> View Post </a>
            <form class="form-cart" data-id="<%= product._id %>">
                <input type="number" class="qty" name="qty" min="1" max="<%= product.stock %>" value="1" data-id="<%= product._id %>"/>
                <a type="submit" id="add-cart"class="add-cart" data-id="<%= product._id %>">Add to cart</a>
            </form>
            <button class="delete-button" type="submit" data-id="<%= product._id %>">Delete</button>

        </div>
        <% }); %>

        <dialog>
            <h2 class="fs-title">Product Details</h2>
            <form class="form-products">
                <input name="title" type="text" placeholder="Title" />
                <textarea name="description" type="text" placeholder="Description" rows="3"></textarea>
                <input name="code" type="text" placeholder="code" />
                <input name="price" type="number" placeholder="Price" min="0.01" value="1" step="any" />
                <input name="stock" type="number" placeholder="Stock" min="1" value="1" />
                <input name="category" type="text" placeholder="category" />
                <input name="thumbnails" type="url" placeholder="thumbnails" />
                <button class="button" formmethod="dialog" type="submit" id="closeDialog">Cancel</button>
                <button class="button" type="submit" id="post-button">Submit</button>
            </form>
        </dialog>

        <div class="pagination" data-pages="<%= JSON.stringify(paginate) %>">
            <!-- paginator -->
        </div>

        <script src="/public/js/main.js"></script>
    </body>
</html>
